body{
    background-image: url(../imagenes/fondo7.jpg);
}

#selec{
    background-color: #A6FFFD;
}

h1{
    font-family: 'Abril Fatface', cursive;
    color: black;
}

h2{
    color: rgb(2, 95, 97);
}

h3, p{
    /**font-family: 'Fjalla One', sans-serif;**/
    font-family: 'Abhaya Libre', serif;
}

#subMenus{
    background-color: #3987A8;
}

#medio{
    background-color: #3987A8;
}