body{
    background-image: url(../imagenes/fondo6.jpg);
}

#selec{
    background-color: #A6FFFD;
}

h1{
    font-family: 'Abril Fatface', cursive;
    color: white;
}

h2{
    color: black;
    background-color: #01B1FF;
}

h3, p{
    /**font-family: 'Fjalla One', sans-serif;**/
    font-family: 'Abhaya Libre', serif;
}

div#separador{
    background-color: #01B1FF;
}

div#vidCo{
    border: solid 2px #01B1FF;   
    background-color: rgb(1, 177, 255,0.1);
}

div#vidCin{
    border: solid 2px #01B1FF;   
    background-color: rgb(1, 177, 255,0.1);
}