body{
    background-image: url(../imagenes/fondo6.jpg);
}

h1{
    font-family: 'Abril Fatface', cursive;
    color: white;
}

h2{
    color: black;
    background-color: #01B1FF;
}

h3, p{
    /**font-family: 'Fjalla One', sans-serif;**/
    font-family: 'Abhaya Libre', serif;
}

div#separador{
    background-color: #01B1FF;
}