body{
    background-size: cover;
    background-attachment: none;
    padding: 0px;
    margin: 0px;
}

div#inicio{
    float: left;
    width: 300px;
    height: max-content;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 15px;
}

div#pasos{
    float: left;
    width: 960px;
    height: max-content;
    margin-top: 30px;
    margin-block-end: 35px;
}

.img{
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
}