body{
    background-size: cover;
    background-attachment: none;
    padding: 0px;
    margin: 0px;
}

div#vidCo{
    float: left;
    width: 45%;
    height: 1020px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 15px;
    margin-block-end: 25px;
}



div#vidCin{
    float: left;
    width: 45%;
    border-radius: 20px;
    height: 1020px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 15px;
}
