body{
    background-image: url(../imagenes/fondo7.jpg);
}

#selec{
    background-color: #A6FFFD;
}

h1{
    font-family: 'Abril Fatface', cursive;
    color: black;
}

h2{
    color: rgb(2, 95, 97);
}

h3, p{
    /**font-family: 'Fjalla One', sans-serif;**/
    font-family: 'Abhaya Libre', serif;
}

#subMenus{
    background-color: rgb(21, 124, 168,0.6);
}

.medio{
    background-color: rgb(153, 161, 259,0.3) ;
}

.nav2 li a{
    text-align: center;
    color: black;
    font-family: 'Lobster', cursive;
}

.nav2 li a:hover{
    background-color: rgb(29, 185, 183);
}