body{
    background-image: url(../imagenes/fondo6.jpg);
}

h1, h2, h3{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

h3, p{
    /**font-family: 'Fjalla One', sans-serif;**/
    font-family: 'Abhaya Libre', serif;
}

h1, h2, h3{
    color: white;
}

#selec{
    background-color: #A6FFFD;
}

div#inicio{
    background-color: rgba(128, 9, 175, 0.2);
}

div#mitad{
    border: solid 2px rgba(128, 9, 175);
    background-color: rgba(26, 182, 221, 0.2);
}    