body{
    background-image: url(../imagenes/golpeDinerito.jpg);
}

h1, h2, h3{
    font-family: 'Abril Fatface', cursive;
    color: black;
    text-align: center;
}

h3, p{
    /**font-family: 'Fjalla One', sans-serif;**/
    font-family: 'Abhaya Libre', serif;
}

#selec{
    background-color: #A6FFFD;
}

blockquote p{
    font-family: 'Lobster', cursive;
}

div#inicio{
    background-color: blueviolet;
    border: solid 2px #01B1FF;
}

div#pasos{
    background-color: #4F649C;
}